.homepage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    &__text{
        padding: 1rem;
        width: 65%;
    }
    &__img{
        padding: 1rem;
    }
}