.homepage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    &__text{
        padding: 1rem;
        width: 65%;
        font-size: 20px;
    }
    &__img__left{
        padding: 1rem;
        margin-right: 200px;
    }
    &__img__right {
        padding: 1rem;
        margin-left: 200px;
    }
}