.header {
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: fixed;
        top: 0;
        width: 98%;
        z-index: 1;
        &__black {
            left: 0;
            background-color: black;
            opacity: 0.9;
            color: white;
            transition: 0.9s all;
            border-radius: 0px 0px 4px 4px;
            width: 100%;
            height: 100px;
        }
    }
    &__img {
        margin: 20px;
    }
    &__logo {
        img {
            width: 200px;
        }
    }
    &__nav {
        .nav {
            &__list {
                display: flex;
                align-items: center;
                list-style: none;
            }
            &__item {
                margin: 0px 20px;
            }
            &__link {
                font-weight: bold;
                font-size: 20px;
                &:hover {
                    color: $primaryColor;
                }
            }
        }
        // .nav__list {}
        // .nav__item {}
        // .nav__link {}
    }
}